.background-color{
    background-color: darkolivegreen;
}

.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px
}

.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
button{
}

